name: omnipulse_flutter
description: OmniPulse SDK for Flutter applications. Provides logging, error tracking, and performance monitoring.
version: 1.0.0
homepage: https://github.com/masbenx/omnipulse-flutter

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^1.1.0
  uuid: ^4.2.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
